#home {
	margin-left: 175px;
}
#header {
	
}
div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    background-color: #dff0d8;
}
.left-column {
    width: 65%;
    min-height: 100px;
    background-color: #dff0d8;
    float: left;
    margin-left: 98px;
}
.right-column {
    width: 25%;
    min-height: 100px;
    background-color: #d9edf7;
    float: right;
}
.footer {
	position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
    
    
}
.alert {
    padding: 10px;
    border: 1px solid #d6e9c6;
    background-color: #dff0d8;
    color: #468847;
    border-radius: 5px;
}
.button-right-m {
    float: right;
    margin-bottom: 15px;

}